{% extends 'base.html' %}
{% load static %}
{% load is_registered %}
{% block title %}
    {{task.title}}
{% endblock  %}
{% block content %}
{% include 'nav.html' %}

<div class="overflow-hidden bg-white dark shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6">
      <h3 class="text-base font-semibold leading-6 text-gray-900">Task Information</h3>
      <p class="mt-1 max-w-2xl text-sm text-gray-500">Task details and application instruction.</p>
    </div>
    <div class="border-t border-gray-200">
      <dl>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Title</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{task.title}}</dd>
        </div>
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Posted by</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{task.owner}}</dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Participants</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{task.registered_count}}/{{task.total_participants}}</dd>
        </div>
        
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Price expectation</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">&#8358;{{task.unit_price}}</dd>
        </div>
        <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Instruction/Directions</dt>
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{task.description}}</dd>
        </div>
        
        {% if task.sample_image %}
        <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-500">Attachments</dt>
          <img class="" src="{{task.sample_image.url}}" alt="View">
          <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
            <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200">
              <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                <div class="flex w-0 flex-1 items-center">
                  <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                  </svg>
                  <span class="ml-2 w-0 flex-1 truncate">resume_back_end_developer.pdf</span>
                </div>
                <div class="ml-4 flex-shrink-0">
                  <a href="{{task.sample_image.url}}" class="font-medium text-indigo-600 hover:text-indigo-500">View</a>
                </div>
              </li>
              <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
                <div class="flex w-0 flex-1 items-center">
                  <svg class="h-5 w-5 flex-shrink-0 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z" clip-rule="evenodd" />
                  </svg>
                  <span class="ml-2 w-0 flex-1 truncate">coverletter_back_end_developer.pdf</span>
                </div>
                <div class="ml-4 flex-shrink-0">
                  <a href="#" class="font-medium text-indigo-600 hover:text-indigo-500">Download</a>
                </div>
              </li>
            </ul>
          </dd>
        </div>
        {% endif %}

      </dl>
    </div>
  </div>
  <!-- Modal toggle -->
  {% if task.rejection_reason %}
  <div class='flex flex-col justify-center text-center mt-5'>
    <p>Task Rejected: </p>
    <p class='text-red-500'>{{task.rejection_reason}}</p>
  </div>
  {% else %}
  {% if is_owner %}
  <div class="flex justify-evenly m-5">
    <a href="applications/" type="button" class="text-primary-700 hover:text-white border border-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-primary-500 dark:text-primary-500 dark:hover:text-white dark:hover:bg-primary-500 dark:focus:ring-primary-800">Application List</a>
    <a href={% url 'add_participants' slug=task.slug %} type="button" class="text-secondary-700 hover:text-white border border-secondary-700 hover:bg-secondary-800 focus:ring-4 focus:outline-none focus:ring-secondary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-secondary-500 dark:text-secondary-500 dark:hover:text-white dark:hover:bg-secondary-500 dark:focus:ring-secondary-800">Add Participants</a>
  </div>
  <div class="flex justify-evenly m-5">
      {% if task.state == 'PAUSED' %}
      <a href='resume/' class="block text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" type="button">
        Resume
        </a>
      {% elif task.state == 'IN_PROGRESS' %}
      <a href='pause/' class="block text-white bg-secondary-700 hover:bg-secondary-800 focus:ring-4 focus:outline-none focus:ring-secondary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-secondary-600 dark:hover:bg-secondary-700 dark:focus:ring-secondary-800" type="button">
      Pause
      </a>
      {% endif %}
      {% if task.state != 'ENDED' %}
      <button id="terminateButton" data-modal-toggle="terminateModal" class="block text-white bg-danger-700 hover:bg-danger-800 focus:ring-4 focus:outline-none focus:ring-danger-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-danger-600 dark:hover:bg-danger-700 dark:focus:ring-danger-800" type="button">
        Terminate
        </button>
      {% else %}
      <button id="terminateButton" data-modal-toggle="terminateModal" class="block text-white bg-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-300 dark:focus:ring-primary-800 cursor-not-allowed" type="button " disabled>
        Ended
        </button>
      {% endif %}
      
  </div>
  
  {% else %}

  {% is_registered task as registered %}
  {% if registered %}
  <div class="flex justify-center m-5">
      <button id="deleteButton" type='button' data-modal-toggle="deleteModal" class="block text-white bg-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-300 dark:focus:ring-primary-800 cursor-not-allowed" type="button " disabled>
      Applied
      </button>
  </div>
  {% else %}
  <div class="flex justify-center m-5">
      <form method='POST' action='apply/' enctype='multipart/form-data' id='app_form' class='flex flex-col justify-center'>
        {%csrf_token%}
        <div class='w-full flex flex-row justify-around gap-6'>
          <div class='flex flex-col justify-center'>
            <label class="block mb-2 text-sm font-medium " for="id_comments">Application Comments:</label>
            {{form.comments}}
          </div>
          
          <div class='flex flex-col justify-center'>
            <label class="block mb-2 text-sm font-medium " for="id_image1">Upload Proof 1</label>
            {{form.image1}}

            <label class="block mb-2 mt-4 text-sm font-medium " for="id_image2">Upload Proof 2</label>
            {{form.image2}}
            {% comment %} <input class="block w-full text-sm border border-gray-500 rounded-lg cursor-pointer" aria-describedby="proof_2_help" id="proof_2" type="file"> {% endcomment %}

            <label class="block mb-2 mt-4 text-sm font-medium " for="id_image3">Upload Proof 3</label>
            {{form.image3}}
          </div>  
        </div>
        <button id="applyButton" data-modal-toggle="applyModal" class="flex justify-center text-white mt-5 bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" type="button">
        Apply
        </button>
    </form>
  </div>
  {% endif %}
  {% endif %}
  {% endif %}
  {% include '../components/modal.html' with modal_id='applyModal' title='Are you sure you have completed the task' disclaimer='You will be restricted if you apply without performing the task' link='apply/' %}
  {% include 'components/modal.html' with modal_id='terminateModal' title='Are you sure you want to terminate this task?' disclaimer='You wont be able to restart this task' link='end/' %}
{% block scripts %}
<script>
  const handleSubmit = (e) => {
    form = document.getElementById('app_form')
    form.submit()
  }
</script>
{% endblock %}
{% endblock %}

