{% extends 'base.html' %}
{% load static %}
{% load is_registered %}
{% block title %}
    {{applications.0.task.title}} applications
{% endblock  %}
{% block content %}
{% include 'nav.html' %}


<section class="bg-gray-50 min-h-screen">
    {% include 'components/page_heading.html' with title=applications.0.task.title|add:' Applications' %}
    <div class=' flex justify-center'>
    <a href="approve_all/" class="mt-2 flex items-center justify-center rounded-xl border bg-primary-500 hover:bg-blue-700 text-white font-bold p-3 text-sm outline-none ">Approve All Pending</a>
    </div>
    <ul role="list" class="divide-y divide-gray-100 mt-2">
        {% for application in applications  %}
            <li class=''>
                <a href="/applications/{{application.id}}/" class="flex justify-between border-t border-b px-2 gap-x-6 py-5">
                    <div class="flex gap-x-4">
                        <div class="min-w-0 flex-auto">
                        <p class="text-sm font-semibold leading-6 text-gray-900">{{application.user.username}}ddsdds</p>
                        </div>
                    </div>
                    <div class="flex-col sm:flex-row items-end">
                        <p class="text-sm leading-6 text-gray-900">{{application.status}}</p>
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</section>
  
{% endblock %}