{% extends 'base.html' %}
{% load static %}
{% block title %}
    Bank Details
{% endblock  %}

{% block content %}
{% include 'nav.html' %}
<div class="flex flex-col justify-center items-center h-[100vh]">
    <form class="w-full max-w-lg" method='POST' id="bankDetailsForm">
      {% csrf_token %}
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-first-name">
              FULL NAME
            </label>
            {% if bank_account %}
            <input class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="email-address" disabled type='text' placeholder="example@domain.com" value='{{bank_account.name}}' >
            {% else %}
            {{form.name}}
            {% endif %}
            {% comment %} <p class="text-red-500 text-xs italic">Please fill out this field.</p> {% endcomment %}
          </div>
         <div class="w-full md:w-1/2 px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-last-name">
              Bank Account Number
            </label>
            {% if bank_account %}
            <input class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="email-address" disabled type="number" value='{{bank_account.account_number}}' >
            {% else %}
            {{form.account_number}}
            {% endif %}
          
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full px-3">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="email-address">
              Bank Name
            </label>
            {% if bank_account %}
            <input class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="email-address" disabled type="email" value='{{bank_account.bank_name}}' >
            {% else %}
            {{form.bank_name}}
            {% endif %}
            <p class="text-danger-500 text-xs italic">This Bank Account cant be until changed until 30days</p>
            
          </div>
          <div class="w-full p-3 ">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="email-address">
              Email
            </label>
            <input class="appearance-none block w-full bg-gray-50 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="email-address" disabled type="email" placeholder="example@domain.com" value={{user.email}} >
            <p class="text-gray-600 text-xs italic">The payment receipt will be sent to this email</p>
          </div>
        </div>
          <div class='flex flex-col items-center mt-5'>
            {%if not bank_account %}
            <button class="bg-primary-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Save</button>
            {% endif %}
          </div>
        </div>
        
      </form>
      
</div>
{% block scripts %}

<script>
  inputs = document.querySelectorAll('input')
  inputs.forEach(input => {
    input.classList.add('shadow','appearance-none','border','rounded','w-full','py-2','px-3','text-gray-700','leading-tight','focus:outline-none','focus:shadow-outline')
  })
</script>
{% endblock %}
    
{% endblock %}
