{% extends 'base.html' %}
{% load static %}
{% load paginator_tags %}
{% block title %}
    Wallet
{% endblock  %}
{% block content %}
{% include 'nav.html' %}
<section class="bg-gray-50 py-3 sm:py-5 min-h-screen">
    <div class="px-4 mx-auto max-w-screen-2xl lg:px-12">
        <section class="grid grid-cols-2 lg:grid-cols-4 gap-6">
            <div class="flex items-center p-2 md:p-8 bg-white shadow rounded-lg">
              <div class="inline-flex flex-shrink-0 items-center justify-center h-8 w-8 md:h-16 md:w-16 text-purple-600 bg-purple-100 rounded-full mr-6">
                <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                </svg>
              </div>
              <div>
                <span class="block md:text-2xl font-bold">&#8358;{{user.earnings|floatformat:'2g'}}</span>
                <span class="block text-gray-500">Earnings</span>
              </div>
            </div>
            <div class="flex items-center p-2 md:p-8 bg-white shadow rounded-lg">
              <div class="inline-flex flex-shrink-0 items-center justify-center h-8 w-8 md:h-16 md:w-16 text-green-600 bg-green-100 rounded-full mr-6">
                <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" />
                </svg>
              </div>
              <div>
                <span class="block md:text-2xl font-bold">{{receipts.count}}</span>
                <span class="block text-gray-500">Deposits</span>
              </div>
            </div>
            <div class="flex items-center p-2 md:p-8 bg-white shadow rounded-lg">
              <div class="inline-flex flex-shrink-0 items-center justify-center h-8 w-8 md:h-16 md:w-16 text-red-600 bg-red-100 rounded-full mr-6">
                <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 17h8m0 0V9m0 8l-8-8-4 4-6-6" />
                </svg>
              </div>
              <div>
                <span class="inline-block md:text-2xl font-bold">{{withdrawal_count}}</span>
                <span class="block text-gray-500">Withdrawal</span>
              </div>
            </div>
            <div class="flex items-center p-2 md:p-8 bg-white shadow rounded-lg">
              <div class="inline-flex flex-shrink-0 items-center justify-center h-8 w-8 md:h-16 md:w-16 text-primary-600 bg-primary-100 rounded-full mr-6">
                <svg aria-hidden="true" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253" />
                </svg>
              </div>
              <div>
                <span class="block md:text-2xl font-bold">&#8358;{{user.wallet_balance|floatformat:'2g'}}</span>
                <span class="block text-gray-500">Wallet Balance</span>
              </div>
            </div>
          </section>
          <div class='flex justify-around my-12'>
            <a href='/withdraw/' class="bg-primary-500 text-white font-bold py-2 px-4 rounded" >Withdraw</a>
            <a href='/transfer_earnings/' class="bg-slate-500  text-white font-bold py-2 px-4 rounded">Transfer Earnings</a>
            <a href='/deposit/' class="bg-secondary-700 text-white font-bold py-2 px-4 rounded">Deposit</a>
          </div>
          <h2 class="block text-xl mt-10">Receipts: </h2>
          {% if receipts %}
          <span class='text-xs'>Showing ({{receipts.count}}) of {{receipt_count}} </span>
          <div class="relative overflow-hidden bg-white shadow-md sm:rounded-lg">
              <div class="overflow-x-auto">      
                  <div class="relative overflow-x-auto">
                      
                      <div class="w-full flex flex-col text-sm text-center text-gray-500 ">
                          <div class="text-xs grid grid-cols-5 text-gray-700 uppercase bg-gray-50 ">
                          
                              <p scope="col" class="px-6 py-3 col-span-1">
                                  Task Title
                              </p>
                              <p scope="col" class="px-6 py-3">
                                  Category
                              </p>
                              <p scope="col" class="px-6 py-3">
                                  Posted By
                              </p>
                              <p scope="col" class="px-6 py-3">
                                  Price
                              </p>
                              <p scope="col" class="px-6 py-3">
                                  Date
                              </p>
                          </div>
                          <div>
                              {% for receipt in receipts  %}
                              <a class="bg-white border-b grid grid-cols-5 dark:border-gray-700 hover:bg-gray-200 cursor-pointer">
                                  <p scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                      {{ receipt.task.title }}
                                  </p>
                                  <p class="px-6 py-4">
                                      {{ receipt.task.sub_category.category.name }}
                                  </p>
                                  <p class="px-6 py-4">
                                      {{ receipt.task.owner }}
                                  </p>
                                  <p class="px-6 py-4">
                                      &#8358;{{ receipt.unit_price|floatformat:'2g'}}
                                  </p>
                                  <p class="px-6 py-4">
                                      {{ receipt.date_created|timesince|truncatewords:2 }} ago
                                  </p>
                              </a>
                              {% endfor %}
                              
                          </div>
                      </div>
                  </div>
  
              </div>
          </div>
        {% else %}
        <div class="flex justify-center items-center h-10">
            <p class="text-gray-500 text-2xl">No Receipts Yet</p>
        </div>
        {% endif %}

        <h2 class="block text-xl mt-10 ">Deposit: </h2>
        {% if deposits %}
          <span class='text-xs'>Showing ({{deposits.count}}) of {{deposit_count}} </span>
        <div class="relative overflow-hidden bg-white shadow-md sm:rounded-lg">
            <div class="overflow-x-auto">      
                <div class="relative overflow-x-auto">
                    
                    <div class="w-full flex flex-col text-sm text-gray-500 ">
                        <div class="text-xs grid grid-cols-4 text-gray-700 uppercase bg-gray-50 ">
                        
                            <p scope="col" class="px-6 py-3 col-span-1">
                                Transaction Id
                            </p>
                            <p scope="col" class="px-6 py-3">
                                Price
                            </p>
                            <p scope="col" class="px-6 py-3">
                                Date
                            </p>
                            <p scope="col" class="px-6 py-3">
                              Status
                            </p>
                        </div>
                        <div>
                            {% for deposit in deposits  %}
                            <a class="bg-white border-b grid grid-cols-4 dark:border-gray-700 hover:bg-gray-200 cursor-pointer">
                                <p scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                    {{ deposit.id }}
                                </p>
                                <p class="px-6 py-4">
                                    &#8358;{{ deposit.amount|floatformat:'2g'}}
                                </p>
                                <p class="px-6 py-4">
                                    {{ deposit.date_created|timesince|truncatewords:2 }} ago
                                </p>
                                <p class="px-6 py-4"> 
                                  {{deposit.status}}
                                </p>
                            </a>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>

            </div>
          </div>
        {% else %}
        <div class="flex justify-center items-center h-10">
            <p class="text-gray-500 text-xl">No deposit yet</p>
        </div>
        {% endif %}
          


          <h2 class="block text-xl mt-10 ">Withdrawal: </h2>
            {% if withdrawals %}
          <span class='text-xs'>Showing ({{withdrawals.count}}) of {{withdrawal_count}} </span>
        <div class="relative overflow-hidden bg-white shadow-md sm:rounded-lg">
            <div class="overflow-x-auto">      
                <div class="relative overflow-x-auto">
                    
                    <div class="w-full flex flex-col text-sm text-gray-500 ">
                        <div class="text-xs grid grid-cols-4 text-gray-700 uppercase bg-gray-50 ">
                        
                            <p scope="col" class="px-6 py-3 col-span-1">
                                Transaction Id
                            </p>
                            <p scope="col" class="px-6 py-3">
                                Price
                            </p>
                            <p scope="col" class="px-6 py-3">
                                Date
                            </p>
                            <p scope="col" class="px-6 py-3">
                              Status
                            </p>
                        </div>
                        <div>
                            {% for withdrawal in withdrawals  %}
                            <a class="bg-white border-b grid grid-cols-4 dark:border-gray-700 hover:bg-gray-200 cursor-pointer">
                                <p scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                    {{ withdrawal.id }}
                                </p>
                                <p class="px-6 py-4">
                                    &#8358;{{ withdrawal.amount|floatformat:'2g'}}
                                </p>
                                <p class="px-6 py-4">
                                    {{ withdrawal.date_created|timesince|truncatewords:2 }} ago
                                </p>
                                <p class="px-6 py-4"> 
                                  {{withdrawal.status}}
                                </p>
                            </a>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>

            </div>
          
    </div>
    {% else %}
    <div class="flex justify-center items-center h-10">
        <p class="text-gray-500 text-xl">No withdrawal yet</p>
    </div>
    {% endif %}
    
  </section>

  

{% endblock %}
